[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=chromium --no-sandbox "%s"
Icon=chromium
Name=chromium
X-XFCE-Commands=chromium --no-sandbox
